/**
 * Chess piece styling using SVG files for reliable cross-browser rendering
 */

.piece {
    width: 80%;
    height: 80%;
    cursor: grab;
    user-select: none;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.15s ease;
    will-change: transform;
}

.piece:hover {
    transform: scale(1.05);
}

.piece:active {
    cursor: grabbing;
    transform: scale(1.1);
}

.piece.dragging {
    cursor: grabbing;
    opacity: 0.8;
    z-index: 100;
}

/* White pieces */
.piece.w.p { background-image: url("../assets/wp.svg"); }
.piece.w.r { background-image: url("../assets/wr.svg"); }
.piece.w.n { background-image: url("../assets/wn.svg"); }
.piece.w.b { background-image: url("../assets/wb.svg"); }
.piece.w.q { background-image: url("../assets/wq.svg"); }
.piece.w.k { background-image: url("../assets/wk.svg"); }

/* Black pieces */
.piece.b.p { background-image: url("../assets/bp.svg"); }
.piece.b.r { background-image: url("../assets/br.svg"); }
.piece.b.n { background-image: url("../assets/bn.svg"); }
.piece.b.b { background-image: url("../assets/bb.svg"); }
.piece.b.q { background-image: url("../assets/bq.svg"); }
.piece.b.k { background-image: url("../assets/bk.svg"); }

/* Move animations */
@keyframes move-piece {
    0% { transform: scale(1); }
    50% { transform: scale(1.12); }
    100% { transform: scale(1); }
}

.piece.moved {
    animation: move-piece 0.3s ease;
} 